@import url('//fonts.googleapis.com/css?family=Raleway');
@import url('//fonts.googleapis.com/css?family=Open+Sans');

html, body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  max-width: 70%
  height: 100%;
  overflow-x: hidden;
}

h1 {
  padding: 6px 8px 6px 16px;
  font-family: 'Raleway';
  font-size: 48px;
  color: #2eb69a;
}

p {
  padding: 6px 8px 6px 16px;
  max-width: 70%;
  min-width: 500px;
  line-height: 16px;
}

h2 {
  padding: 6px 8px 6px 16px;
  font-family: 'Raleway';
  font-size: 36px;
  line-height: 0px;
}

div {
  padding-right: 10px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

ul {
  max-width: 70%;
}

.container {
  display: flex;
}

.main {
  margin-left: 200px;
  padding-left: 50px;
  height: 100%
}

/* The sidebar menu */
.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2eb69a;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav h2 {
  padding: 6px 8px 6px 16px;
  font-size: 48px
}

.nav p {
  font-size: 12px;
}

/* The navigation menu links */
.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
  color: #111;
}
